*estimation_accuracy.zip
*fastGWA-GE_PVALUES.zip
*fastGWA-GE_PVALUES_no_AF.zip
*fastGWA-GE_PVALUES_no_AF_no_rare_vars.zip
*fastGWA-GE_PVALUES_with_AF.zip
*PMBB-Release-2020-2.0_ADMAfr_all_SNPs.afreq.zip
